{% extends 'home/index.html' %}
{% block title %}Recruiters{% endblock %}
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/recruiters.css' %}">
<style type="text/css">
	.elements >a.nav-3{
		color: #4BCDA1;
	}
	.sub-menu-item >a.nav-3{
		color: #4BCDA1;
	}
</style>
	<h4 class="heading-1">Appeal to the Recruiters</h4>
	<h4 class="appeal"><b>Greeting on the behalf of team SLIET !</b><br><br>
	We are happy to share that in comparison to previous years, we are getting good response from reputed industries including MNCs. During years 2016-18, about 100 industries has provided the opportunities to SLIET students and recruited about 400 B.E. students. We have the strong alumni base working in almost all the major corporate houses across the globe.<br><br> 
	The four year B.E course in our campus have all the salient features which will help a student in his/her coming future. We have a pool of committed faculties, who help the participants develop technical skills and functional competencies.<br><br>
	The confidence is reposed in us by placement of our students in esteemed industries like Tata Projects Limited, TCS, ISGEC, HPE, GE INDIA , Afcons Infrastructure, Honda Cars India Limited, L & T, Hero Group, Trident Group, Godrej, Vardhman Industries, Mahindra & Mahindra , Microsoft, Reliance, Punj Lloyd, Infosys, Hexaware, Hewlett Packard, LG, Byju's Learning, Virtusa Polaris, Nestle India, Intersoft, Hindustan Unilever Limited, Samsung, EbizOn, Keyence, SIDEL India, Jindal Saw Ltd., Wipro, Honeywell, Accenture, International Tractors Limited, Maruti Suzuki, Coca-Cola, Tech Mahindra etc. but not limited to.<br><br>
	The placement activities are being looked after by confident team (T&P) comprising of Training & Placement officer, Assistant Training & Placement Ofiicers, Faculty Placement Coordinators, Faculty Training Coordinators and Student Placement Representatives under the able guidance of Prof. (Dr.) Ravi Kant Mishra, Head(T&P).<br><br>
	We try to connect our students very frequently with various experts as and when required. We are looking forward to have a mutually beneficial collaboration with organisation like yours for campus placement.<br><br>
	<div class="request">We urge the corporate houses to provide the opportunities to our B.E., Diploma, M.Tech. students through the campus hiring process.</div></h4>
	<h4 class="heading-2">Our Recruiters 2016-18</h4>
	{% for rec in rec %}
	<div class="partner">
		<img src="{{ rec.logo.url }}">
	</div>
	{% endfor %}
	<h4 class="order">List of our Recruiters</h4>
	{% for i in a %}
	<div class="name-wrapper">
		<h4 class="company-name">{{ i }}</h4>
	</div>
	{% endfor %}
{% endblock %}