{% extends 'home/index.html' %}
{% block title %}Why Us{% endblock %}
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/whyus.css' %}">
<style type="text/css">
	.elements >a.nav-2{
		color: #4BCDA1;
	}
	.sub-menu-item >a.nav-2{
		color: #4BCDA1;
	}
</style>
	<section class="main">
		<img src="{% static 'home/images/men.png' %}" class="xtra">
		<div class="wrapper-mission">	
			<h4 class="heading-1">Mission</h4>
			<p class="mission">"Bridging the gap between the needs of the industry and skills of the student."</p>
		</div>
		<div class="wrapper-2">
			<h4 class="heading-1">Vision</h4>
			<p class="vision">"Close interface with industry for presenting the competent and skillful person with innovative thoughts to face the real world of work challenges with Indian values. "</p>
		</div>
		<h4 class="heading-3">Why SLIET</h4>
		<div class="fix">
			<p class="about"><b>Greetings from SLIET Longowal !</b><br><br>
				SLIET is a unique institute established by Government of India where we follow the modular pattern of technical education. The institute is spread over 451 acres of land surrounded by religious places in deep Punjab under Sangrur district.<br><br>
				Consequent upon the decision, taken by Govt. of India in 1985, to tender a valuable, yet humble tribute to the everlasting memory of the revered saint, Sant Longowal Institute of Engineering and Technology took its shape. The institute was established by Ministry Of Human Resource and Development (MHRD), Govt. of India in the year 1989 and was formally inaugurated on 20th December 1991.<br><br>
				Accepting the new challenge of new education policy, Sant Longowal Institute of Engineering & Technology (SLIET) was established, with a vision to act as an international podium for the development and transfer of technical competence in academics. It is committed to provide best possible technical education and to cater to the technical manpower requirements with emphasis on practical training in industry.<br><br>
				The institute is an autonomous body, fully funded by Govt. Of India and controlled by SLIET society, registered under Societies Registration Act, 1860. The institute awards its own Certificates, Diplomas, Undergraduate and Postgraduate approved and recognized by AICTE, New Delhi. Ph.D. programmes have also been started after it attaining status of Deemed to be University.<br><br>
				It was formulated that the institute, besides catering to the needs of formal education would undertake an arduous task to prepare the skilled and qualified manpower for self employment. Further, the institute would take up a strategic research and development activities which along with entrepreneurship will help in extending the efforts of the institute in imparting education to the unemployed and working population by updating and upgrading their technical skills. The institute was thought to cater to then existing 3-tier system to modern industry, which incorporates workers, technicians and engineers.<br>
			<h3 class="heading-2">Training and Placement Activities</h3>
			<section class="slider">	
				<div class="slider_container">	
					<div class="slides">
						<h4>Placement 2K17-18</h4>
						<p class="paragraph-1">Diploma and B.E. students of SLIET, Longowal were placed in 49 reputed industries including MNCs like <b>Hindustan Unilever Limited, Sidel, Samsung, Tata Projects Limited and TCS</b> with salary package ranging from 3-9 L.P.A.. At present, Department of T&P is marching ahead with the dedicated team T&P including faculty, staff and students under the able guidance of Prof. (Dr.) Ravi Kant Mishra, Head(T&P) and Prof.(Dr.) Sukhcharn Singh, TPO. From the mouth of dignitaries : A good progress has been observed in the placement of SLIET. Students have been presented their offer letters during offer letter distribution ceremony, UDAAN -2018 by <b>Director, SLIET, Prof. (Dr.) S.K. Jain, Prof. (Dr.) A.S. Arora, Dean(SFW), Prof. (Dr.) P.K. Singh, Dean(R&C)</b> and other Deans. In this year, 80% of the eligible and interested students were placed in different companies and thier list can be seen in TnP corner.</p>
					</div><!--
					-->
					<div class="slides">
						<h4>III 2016-17</h4>
						<p class="paragraph-1">Industry Institute Interaction has been started as an annual event by Training and Placement Cell with an idea of bringing industries and students together for a better understanding of corporate world. The renowned people that were present during this event were <b>Ms. Garima Babbar (Head Strategic Alliance, Adobe),our esteemed alumni Sh. Paramdeep Singh Ghuman, Vista Processed food Pvt. Ltd., our Ex-Chairman Dr. Dilip Chenoy, Chairman BOM & MD, FICCI</b>, our Ex-Director Prof. V.K. Jain., Prof. (Dr.) A.S. Arora(Dean, SFW), other Deans, Prof. (Dr.) R.K. Mishra(Head, T&P), Prof. (Dr.) Sukhcharn Singh(TPO) and other faculty. This event has been a great success in the history of T&P and we are looking forward to make stronger connections with the corporations.</p>
					</div><!--
					-->
					<div class="slides">
						<h4>Interactive Sessions</h4>
						<div class="paragraph-1">A list of Interactive sessions organised by T&P department:<br><br>
							<ul>
								<li>Conference with fourth strongest Air Force in the World, our Pride <b>'Indian Air Force'.</b></li>
								<li>Campus visit by <b>BARC scientists</b> in T&P department.</li>
								<li>Guidance by the dignitaries from Multinational Corporations.</li>
								<li>Job Counselling sessions with experts.</li>
								<li>Personal Interaction with Corporate world.</li>
							</ul>
						</div>
					</div><!--
					-->
					<div class="slides">
						<div class="x">
							<h4>FNAT -2018</h4>
							<div class="paragraph-1">80% of recruiters use aptitude test for campus hiring.<br><br>
								SLIET-2k19 batch participated in FNAT-2018 held on 21<sup>st</sup> March, 2018. It was a placement test based on the Analytical, English and Quantitaive Analysis.<br><br>
								The idea was to identify the weak areas and suggest corrective measures and get to know the aptitude of students. Our students showed an overwhelming response and more than 200 students participated in this event.<br><br>
								Recruiters are looking forward to connect with SLIET. 
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="button-left"><div class="arrow-left"></div></div>
			<div class="button-right"><div class="arrow-right"></div></div>
		</div>
	</section>
	<section class="gallery-why">
		<div class="heading-3-why">Extended T&P Gallery</div>
		<div class="wrapper-images">
			<img src="{% static 'home/images/extended-1.jpg' %}" class="imgs">
			<h4 class="heading-x">Ms. Garima Babbar (Head Strategic Alliance, Adobe), our Ex-Chairman Dr. Dilip Chenoy, Chairman BOM & MD, FICCI and our Ex-Director Prof. V.K. Jain conversing during III 2016-17.</h4>
		</div><!--
		--><div class="wrapper-images">
			<img src="{% static 'home/images/extended-2.png' %}" class="imgs">
			<h4 class="heading-x">Our Ex-Chairman Dr. Dilip Chenoy, Chairman BOM & MD, FICCI guiding SLIET family during III 2016-17.</h4>
		</div>
		<div class="wrapper-images">
			<img src="{% static 'home/images/extended-6.jpg' %}" class="imgs"><!--
			--><h4 class="heading-x">Honble. Director SLIET, Prof. (Dr.) Shailendra Jain, Dr. Major Singh Goraya, HOD (CSE), Prof. (Dr.) Ravi Kant Mishra, Head T&P and TPO Prof. (Dr.) Sukhcharn Singh presenting a token of gratitude to our recruiters.</h4>
		</div>
		<div class="wrapper-images">
			<img src="{% static 'home/images/extended-9.jpg' %}" class="imgs">
			<h4 class="heading-x">Group Photo of BARC Scientists with Director SLIET & SLIET Team (T&P)</h4>
		</div>
		<div class="wrapper-images">
			<img src="{% static 'home/images/extended-10.jpg' %}" class="imgs">
			<h4 class="heading-x">Interaction of Director SLIET With ISGEC-Yamuna Nagar team in Institute Guest House on 29 November, 2017</h4>
		</div>
		<div class="wrapper-images">
			<img src="{% static 'home/images/extended-7.png' %}" class="imgs">
			<h4 class="heading-x">Prof. (Dr.) Ravi Kant Mishra, Head (T&P) interacting with Mr. Rajesh Kumar, COO- QuarkCity, Mohali in his office.</h4>
		</div>
		<div class="wrapper-images">
			<img src="{% static 'home/images/extended-4.jpg' %}" class="imgs">
			<h4 class="heading-x">Prof. (Dr.) Ravi Kant Mishra, Head T&P received 100 top training and development mind award by WHRD-Congress held at Hotel Taj Lands end Mumbai.</h4>
		</div>
		<div class="wrapper-images">
			<img src="{% static 'home/images/extended-8.jpg' %}" class="imgs">
			<h4 class="heading-x">IAF officers, Dean R&C and	 Head T&P when the fourth strongest Air Force in the world, our pride 'Indian Air Force' visited SLIET campus during IAF conference-2018.</h4>
		</div>
		<div class="wrapper-images">
			<img src="{% static 'home/images/extended-3.png' %}" class="imgs">
			<h4 class="heading-x">(L-R) FPC Jaspal Singh, HOD(CT) Sandeep Mohan Ahuja, Dr. Indraj Singh, ATPO Pratibha Tyagi and HOD(ME) Dr. Rajesh Kumar during UDAAN-2018.</h4>
		</div>
		<div class="wrapper-images">
			<img src="{% static 'home/images/extended-5.png' %}" class="imgs">
			<h4 class="heading-x">Student Placement Representatives of 2019 batch with dignitaries of SLIET during the offer letter distribution ceremony UDAAN-2018.</h4>
		</div>
	</section>
	<section class="placement-record">
		<h4 class="heading-3-why">Few Smiling Faces....</h4>
		{% for placed in placed %}
		<div class="placement-wrapper">
			<img src="{{ placed.pic.url }}">
			<h4 class="nameofstudent">{{placed.name}}</h4>
			<h4 class="nameofstudent">{{placed.company}}</h4>
		</div>
		{% endfor %}
	</section>
	<script src="{% static 'home/js/scripts.js' %}"></script>
{% endblock %}